<!-- NavBar component -->
<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="container">
    <span class="navbar-brand mb-0 h1"> <a href="/" style="text-decoration: none; color: white;">Game Store</a></span>
  </div>
</nav>